<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/common/Header :: common-header" />
<body>
	<nav th:replace="/common/Header :: navbar" />

	<!--Modal  /// ///-->
	<div th:replace="/common/Header :: logoutConfirmation" />
	<!--end of Modal-->

	<div th:replace="/common/Header :: SideNavbar" />


	<!--Modal  /// ///-->
	<div th:replace="/common/Header :: SearchModal" />
	<!--end of Modal-->

	<div th:replace="/common/Header :: ContentOverlay" />

	<div id="Content" class="Content">
		<div class="container">
			<button th:id="deleteSelected" class="btn btn-danger ">Delete
				Selected</button>
				<a th:href="@{/addBien}" class="btn btn-primary ">Add Bien</a>
			<div class="table-responsive">
				<table id="bookListTable"
					class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th><input th:id="selectAllBooks" type="checkbox" /></th>
							<th>Numéro</th>
							<th>Title</th>
							<th>Description</th>
							<th>prix</th>
							<th>date de création</th>
							<th>date de modification</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="bien : ${bienList}">
							<td><input hidden="hidden" name="id" th:value="${bien.id}" />
								<input th:id="'selected'+${bien.id}" class="checkboxBook"
								type="checkbox" /></td>
							<td th:text="${bien.numTitle}"></td>
							<td><a th:href="@{/bienInfo(id=${bien.id})}"><span
									th:text="${bien.title}"></span></a></td>
							<td th:text="${bien.description}"></td>
							<td th:text="${bien.prix}"></td>
							<td th:text="${bien.createdDate}"></td>
							<td th:text="${bien.updatedDate}"></td>
							<td><input hidden="hidden" name="id" th:value="${bien.id}" />
								<button th:id="'onebien-'+${bien.id}"
									class="btn btn-danger btn-xs delete-book" type="submit"
									value="delete">
									<span class="fa fa-times"></span>Supprimer
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!--footer-->
	<footer th:replace="/common/Header :: footer" />
	<!--end of footer-->

	<div th:replace="/common/Header :: body-bottom-scripts" />
</body>

</html>