<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/common/Header :: common-header" />
<body>
	<nav th:replace="/common/Header :: navbar" />

	<!--Modal  /// ///-->
	<div th:replace="/common/Header :: logoutConfirmation" />
	<!--end of Modal-->

	<div th:replace="/common/Header :: SideNavbar" />


	<!--Modal  /// ///-->
	<div th:replace="/common/Header :: SearchModal" />
	<!--end of Modal-->

	<div th:replace="/common/Header :: ContentOverlay" />

	<div id="Content" class="Content">
		<div class="container">
			<form th:object="${projet}" th:action="@{/addProjet}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block"> New Projet Information </legend>

					<div class="row">
						<!-- title -->
						<div class="form-group col-md-6">
							<label class="control-label" for="title">* Title</label> <input
								type="text" name="nomProjet" class="form-control" id="nomProjet"
								th:field="*{nomProjet}" required="required" placeholder="Title" />
						</div>

						<!-- author -->
						<div class="form-group col-md-6">
							<label class="control-label" for="villeId">* Ville</label> <select
								th:field="*{villeId}" id="villeId" name="villeId"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option th:each="ville : ${villeList}" th:value="${ville.id}"
									th:text="${ville.nomVille}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="control-label" for="description">* Date De
								Création</label> <input type="date" id="createdDate"
								th:field="*{createdDate}"

								class="form-control js-datepicker" required  />
						</div>
						<div class="form-group col-md-6">
							<label class="control-label" for="updatedDate">* Date De
								modification</label> <input type="date" id="updatedDate"
								th:field="*{updatedDate}"

								class="form-control js-datepicker" required  />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="control-label" for="description">*Description</label>
							<textarea name="description" rows="5" class="form-control"
								id="description" th:field="*{description}"
								placeholder="Description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add Projet</button>
							<a class="btn btn-danger" th:href="@{/ProjetList}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!--footer-->
	<footer th:replace="/common/Header :: footer" />
	<!--end of footer-->

	<div th:replace="/common/Header :: body-bottom-scripts" />
</body>

</html>