<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/Header :: common-header" />
<body>
	<nav th:replace="common/Header :: navbar" />

	<!--Modal  /// ///-->
	<div th:replace="common/Header :: logoutConfirmation" />
	<!--end of Modal-->

	<div th:replace="common/Header :: SideNavbar" />


	<!--Modal  /// ///-->
	<div th:replace="common/Header :: SearchModal" />
	<!--end of Modal-->

	<div th:replace="common/Header :: ContentOverlay" />

	<div id="Content" class="Content">
		<div class="container mt-5">
			<div class="row">

			</div>
		</div>
	</div>
	<!--footer-->
	<footer th:replace="common/Header :: footer" />
	<!--end of footer-->

	<div th:replace="common/header :: body-bottom-scripts" />
</body>

</html>